<launch>

  <node pkg="first_project" type="gps_to_odom" name="gps_to_odom"/>
  <node pkg="first_project" type="gps_to_odom1" name="gps_to_odom1"/>
  <param name="lat_r" value="45.477669461666665"/>
  <param name="lon_r" value="9.22674018"/>
  <param name="alt_r" value="169.039"/>

  <node pkg="first_project" type="lidar_remap" name="lidar_remap" output="screen">
    <param name="lidar_topic" value="/scan"/>
    <param name="visualization_topic" value="/visualization_marker"/>
  </node>

  <node name="odom_to_tf_encoders" pkg="first_project" type="odom_to_tf" output="screen">
    <param name="root_frame" value="world"/>
    <param name="child_frame" value="wheel_odom"/>
    <remap from="input_odom" to="/odom"/>
  </node>

  <node name="odom_to_tf_gps" pkg="first_project" type="odom_to_tf" output="screen">
    <param name="root_frame" value="world"/>
    <param name="child_frame" value="gps_odom"/>
    <remap from="input_odom" to="/gps_odom"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz">
    <param name="config" value="$(find first_project)/config/rviz_config.rviz"/>
  </node>

</launch>
